html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
}
* {
    -webkit-tap-highlight-color: transparent;
}
#canvas {
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-in-out;
}
.overlay {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0px;
    left: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 1s ease-in-out;
}
.overlay .menu {
    align-self: flex-end;
    margin: 15px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
}
.overlay .menu a {
    margin: auto 15px;
}
.overlay .menu a,
.overlay .tagline a.plain {
    color: #333;
    text-decoration: none;
    font-weight: 300;
    border-bottom: 1px solid transparent;
    transition: border 250ms ease-in-out;
}
.overlay .menu a:hover,
.overlay .tagline a:hover.plain {
    border-bottom: 1px solid #333;
    cursor: pointer;
}
.overlay .menu a.icon,
.overlay .menu a.icon:hover {
    border: none;
    transition: opacity 250ms ease-in-out;
}
.overlay .menu a.icon:hover {
    opacity: 0.8;
}
.overlay h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 77px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 100;
    font-size: 60px;
    letter-spacing: 12px;
    text-transform: uppercase;
    transition: opacity 500ms ease-in-out;
}
@media(max-width: 800px), (max-height: 420px) {
    .overlay h1 {
        font-size: 40px;
        line-height: 52px;
        letter-spacing: 8px;
    }
}
@media(max-height: 500px) {
    .overlay h1 {
        margin-top: 0px;
    }
}
@media(max-width: 550px) {
    .overlay h1 {
        font-size: 30px;
        line-height: 39px;
        letter-spacing: 6px;
    }
}
@media(max-width: 400px) {
    .overlay h1 {
        font-size: 25px;
        line-height: 33px;
        letter-spacing: 4px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .overlay .tagline {
        font-size: 12px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.overlay .tagline {
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
    margin-bottom: 25px;
    transition: opacity 500ms ease-in-out;
}
.overlay .highlight {
    font-style: italic;
    color: #ffffff;
    background: #2ea;
    padding: 3px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: normal;
}
.buttons {
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}
.fade {
    opacity: 0;
}
button {
    /* border: 1px solid #f6d629; */
    border-radius: 21px;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px 20px;
    font-weight: 300;
    letter-spacing: -0.03em;
    outline: none;
    transition: opacity 250ms ease-in-out;
    margin: 10px auto;
    min-width: 160px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}
button {
    border: none;
    background-color: #2ea;
    color: #ffffff;
}
button:hover {
    opacity: 0.90;
    cursor: pointer;
}
button.no-vr,
button.no-vr:hover {
    opacity: 1;
    /* border: 1px solid #999; */
    background: #eaeaea;
    color: #999;
    cursor: not-allowed;
    text-decoration: line-through;
    font-weight: 100;
}
button .headset {
    width: 26px;
    height: 20px;
    margin-right: 10px;
}
button.vr .headset-color {
    fill: #ffffff;
}
button.no-vr .headset-color {
    fill: #999;
}
button.hidden {
    display: none;
}
.icon-360 {
    width: 28px;
    height: 20px;
    margin-right: 10px;
}
.icon-360-fill {
    fill: #ffffff;
}

/* */
.loading {
    margin-top: 25px;
    width: 250px;
    transition: opacity 500ms ease-in-out;
}
.loading.hidden {
    display: none;
}
.loading .label {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
}
.loading .bar {
    max-width: 250px;
    height: 2px;
    background: #eaeaea;
    margin: 10px auto;
    border-radius: 2px;
}
.loading .gauge {
    width: 0%;
    height: 100%;
    background: #333;
    transition: all 250ms ease-in-out;
}

button.no-vr:hover .tooltip {
    opacity: 1;
}
.tooltip {
    width: 250px;
    background: #333;
    position: absolute;
    transform: translate(0px, calc(-100% - 10px));
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
    pointer-events: none;
}
.tooltip:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(51, 51, 51, 0);
    border-top-color: #333;
    border-width: 15px;
    margin-left: -15px;
}
.toggle-vr {
    position: fixed;
    bottom: 10px;
    margin: auto;
    min-width: auto;
    width: 66px;
    left: calc(50% - 33px);
    display: none;
}
.toggle-vr .headset {
    margin: 0px;
    display: block;
}